services:
  endee-oss:
    image: endee-oss:latest
    container_name: endee-oss
    ports:
      - "8080:8080"
    ulimits:
      nofile: 100000
# ----------------------------------------------------
# Logging Configuration Block
    logging:
      driver: "json-file" # Explicitly use the default driver
      options:
        # Set the max size of a single log file to 200 megabytes
        # Docker rotates the log file when it hits this limit
        max-size: "200m"
        # Set the maximum number of log files to keep
        # (200m * 5 files = 1000m or 1 GB total log space)
        max-file: "5"
# ----------------------------------------------------
    environment:
      NDD_NUM_THREADS: 0
      NDD_AUTH_TOKEN: "" # Replace with your auth token
    volumes:
      - endee-data:/data
    restart: unless-stopped

volumes:
  # Modify the 'device' path below to change the host directory used for data persistence
  endee-data:
    # driver: local
    # driver_opts:
    # type: ext4
    # o: bind
    # device: ${PWD}/dockerdata
